#*.js
*.lnk
*.log


#***/.backup/*
***/.log/*


***/managed_node_modules/***
***/node_modules/***


.CMD.exe
index.ttw.js


html/libs/***/*.js

js_electon/config_file.js
js_electon/config_url.js


index.bat
index***.bat
index.exe
index***.exe
main.bat
main***.bat
